.div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-container>* {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 8vh;
}

.div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-label {
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

span {
    margin-right: 2vw;
}

button {
    margin-left: 2vw;
}

.input-url {
    width: 25vw;
    padding: 1vh;
    font-size: 2vh;
    margin-right: 1vw;
    
}


.input-url:focus {
    outline: none;
    border-color: #0066ff;
}

.input-volume {
    width: 3vw;
}


.note{
    font-style: italic;

}